
<form [formGroup]="carForm">
  <div>
    <label for="make-input">Make:</label>
    <select formControlName="make">
      <option value="">Select One...</option>
      <option *ngFor="let carMake of carMakes" [value]="carMake">{{carMake}}</option>
    </select>
    <span>Please select a car make.</span>
  </div>
  <div>
    <label for="model-input">Model:</label>
    <input type="text" id="model-input" formControlName="model">
    <span>Please enter a car model.</span>
  </div>
  <div>
    <label for="year-input">Year:</label>
    <input type="number" id="year-input" formControlName="year">
    <span>Year should be a number greater than 1895.</span>
  </div>
  <div>
    <label for="color-input">Color:</label>
    <input type="color" id="color-input" formControlName="color">
  </div>
  <div>
    <label for="price-input">Price:</label>
    <input type="number" id="price-input" formControlName="price">
  </div>
  <div *ngIf="carForm.controls.price.invalid">Price should be between 0 and 100000.</div>
  <button type="button" (click)="doSubmitForm()">{{buttonText}}</button>
</form>