<tool-header headerText="Car Tool"></tool-header>
<car-table [cars$]="cars$" [editCarId]="editCarId"
  (editCar)="doEditCar($event)" (deleteCar)="doDeleteCar($event)"
  (saveCar)="doReplaceCar($event)" (cancelCar)="doCancelCar()"></car-table>
<car-form buttonText="Add Car" (submitForm)="doAddCar($event)"></car-form>